<h2 mat-dialog-title>Allocation Detail</h2>
<div mat-dialog-content>
    <!-- <div class="row">
        <div class="col-sm-10">
            <mat-form-field style="min-width: 600px;">
                <input matInput placeholder="Name">
            </mat-form-field>
        </div>
        <div class="col-sm-2 my-auto">
            <mat-checkbox>Active</mat-checkbox>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-8">
            <mat-form-field>
                <mat-label>Client</mat-label>
                <mat-select>
                    <mat-option>
                        A
                    </mat-option>
                    <mat-option>
                        B
                    </mat-option>
                    <mat-option>
                        C
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12 d-flex justify-content-center">
            <mat-button-toggle-group [(ngModel)]="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="request">Request</mat-button-toggle>
                <mat-button-toggle value="open">Open</mat-button-toggle>
                <mat-button-toggle value="approved">Approved</mat-button-toggle>
                <mat-button-toggle value="inprogress">In progress</mat-button-toggle>
                <mat-button-toggle value="finished">Finished</mat-button-toggle>
                <mat-button-toggle value="cancel">Cancel</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-8">
            <mat-form-field>
                <mat-label>Client</mat-label>
                <mat-select>
                    <mat-option>
                        A
                    </mat-option>
                    <mat-option>
                        B
                    </mat-option>
                    <mat-option>
                        C
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <mat-select>
                    <mat-option>
                        A
                    </mat-option>
                    <mat-option>
                        B
                    </mat-option>
                    <mat-option>
                        C
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-6 d-flex">
            <div class="my-auto mr-2">Start</div>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="my-auto mr-2">End</div>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 my-auto mx-auto">
            40%
        </div>
        <div class="col-sm-2">
            <div>
                <mat-checkbox>Monday morning</mat-checkbox>
            </div>
            <div>
                <mat-checkbox>Moday afternoon</mat-checkbox>
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <mat-checkbox>Tuesday morning</mat-checkbox>
            </div>
            <div>
                <mat-checkbox>Tuesday afternoon</mat-checkbox>
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <mat-checkbox>Wednesday morning</mat-checkbox>
            </div>
            <div>
                <mat-checkbox>Wednesday afternoon</mat-checkbox>
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <mat-checkbox>Thursday morning</mat-checkbox>
            </div>
            <div>
                <mat-checkbox>Thursday afternoon</mat-checkbox>
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <mat-checkbox>Saturday morning</mat-checkbox>
            </div>
            <div>
                <mat-checkbox>Saturday afternoon</mat-checkbox>
            </div>
        </div>
        <div class="col-sm-1 my-auto mx-auto">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field appearance="fill">
                <mat-label>Request</mat-label>
                <textarea matInput placeholder="Please write down the comment"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-head card-header-danger text-center">
                    Specification for allocation
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <mat-form-field>
                                <mat-label>Level</mat-label>
                                <mat-select>
                                    <mat-option>
                                        A
                                    </mat-option>
                                    <mat-option>
                                        B
                                    </mat-option>
                                    <mat-option>
                                        C
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Skill</mat-label>
                                <mat-select>
                                    <mat-option>
                                        A
                                    </mat-option>
                                    <mat-option>
                                        B
                                    </mat-option>
                                    <mat-option>
                                        C
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-label>Team</mat-label>
                                <mat-select>
                                    <mat-option>
                                        A
                                    </mat-option>
                                    <mat-option>
                                        B
                                    </mat-option>
                                    <mat-option>
                                        C
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field style="min-width: 500px;">
                                <input matInput placeholder="KF">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-head card-header-danger text-center">
                    Allocation
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field>
                                <mat-label>Arquitect</mat-label>
                                <mat-select>
                                    <mat-option>
                                        A
                                    </mat-option>
                                    <mat-option>
                                        B
                                    </mat-option>
                                    <mat-option>
                                        C
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field appearance="fill">
                <mat-label>Comment</mat-label>
                <textarea matInput placeholder="Please write down the comment"></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions class="justify-content-end d-flex">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="warn">Clone</button>
    <button mat-raised-button color="warn">Save</button>
</div>